a=10

In [1]:
print(type(a)) """To check type of variable"""

SyntaxError: invalid syntax (1952004705.py, line 1)

In [ ]:
name='pooja'

In [ ]:
print('my name:',name)

Arithmatic Operation

In [ ]:
a=2
b=3

In [ ]:
print(Addition:',(a+b),'Subtraction:', (b-a),'Multiplication:', (a*b),'Division:',b/a,'Remainder:', b%a, sep="\n")

Upper & Lower Case

In [ ]:
a='PoOjA'
print(a.upper(),a.lower(), sep="\n")

Square Root & Cube Root

In [ ]:
a=8
print(['Square:', a**2],['Cube root:', a**3],['Square Root:',a**(0.5)],['Cube Root:',a**(1/3)], sep="\n")

Boolen Type

In [ ]:
a=True
type(a)

Commas method

In [ ]:
#  Hi _____ your mobile number :________________ is due for recharge. Current balance is _____ INR
name='Pooja'
mobile_no=9403674969
balance=0.20
print('Hi',name,'your mobile number:',mobile_no,'is due for recharge.', 'Current balance is ',balance,'INR')

In [ ]:
a, b=True, False

In [ ]:
print(a+b)

In [ ]:
a=True
b=False
print(a+b)

In [ ]:
a=1
b=0
print(a+b)

fString

In [ ]:
#  Hi _____ your mobile number :________________ is due for recharge. Current balance is _____ INR

In [ ]:
print(f"Hi {name} your mobile number: {mobile_no} is due for recharge. Current balance is {balance} INR")

.format method

In [ ]:
#  Hi _____ your mobile number :________________ is due for recharge. Current balance is _____ INR

In [ ]:
print("Hi {name} your mobile number {mobile_num} is due for recharge current balance is {c_blance} INR".format
      (name="Pooja" ,mobile_num= 9403674969, c_blance=29))

<b>LIST</b>

In [ ]:
#List is mutuable
#

In [ ]:
ids_list=[101,102,103,104,105]

In [ ]:
type(ids_list)

<b>List indexing: positive indexing</b>

In [ ]:
emp_data=[101,"vijay","@gmail.com",98777,True]

In [ ]:
emp_data[-3]

In [ ]:
emp_data[-1]

In [ ]:
emp_data[-5]

In [ ]:
emp_data[-6]

List slicing
[start_index, stop_index-1 , Skip]

In [ ]:
emp_data

In [ ]:
emp_data[1:3]

In [ ]:
emp_data[1:-1000]

In [ ]:
emp_data

In [ ]:
emp_data[1000]

In [ ]:
emp_data[-3:-1]

In [ ]:
emp_data[0:10]

In [ ]:
emp_data[10:10]

In [ ]:
emp_data[10]

In [ ]:
emp_data[:1]

In [ ]:
emp_data[1:]

In [ ]:
emp_data[-100:3]

In [ ]:
emp_data

In [ ]:
emp_data[-100:-3]

In [ ]:
emp_data[100:-2]

In [ ]:
emp_data1[1:3:1]  # starting_index, stop_index -1,skip

In [ ]:
emp_data

In [ ]:
emp_data1[1:3:2]

In [ ]:
emp_data1[-1:-3:-1]

In [ ]:
emp_data1[-1:3:-1]

In [ ]:
emp_data1[::-1]  #reverse the ist

In [ ]:
emp_data1[::-2]

In [ ]:
emp_data1[::-3]

In [ ]:
emp_data1[::1]

In [ ]:
emp_data1[::2]

In [ ]:
emp_data1[::4]

In [ ]:
emp_data1[4::-1]

In [ ]:
emp_data1[2::-1]

In [ ]:
emp_data1[-2::-1]

In [ ]:
emp_data1[-2::1]

In [ ]:
st1=[101,"vijay",87.7]
st2=[102,"abhi",98.9]
st3=[103,"raj",99]
st4=[104,"raju",99.99]

In [ ]:
all_stu=[st1,st2,st3,st4]

In [ ]:
print(all_stu)

In [ ]:
all_stu[1][2]

<h1>Reversing a list</h1>

In [ ]:
emp_data

In [ ]:
emp_data[::-1]

In [ ]:
emp_data.reverse()

In [ ]:
emp_data

<h1>Length Of Function</h2>

In [ ]:
emp_data

In [ ]:
len(emp_data)

In [ ]:
len(all_stu)

<h1>Adding element to the List</h1>

<b>Append</b>

In [ ]:
a=[1,2,3,7,6]

In [ ]:
b=[4,5,6,7,8]

In [ ]:
emp_data.append(2)

In [ ]:
emp_data

In [ ]:
a.append(3)

In [ ]:
a

In [ ]:
a.insert(3,6)

In [ ]:
a

In [ ]:
a.insert(6,b)

In [ ]:
a

<h1>Remove</h1>

In [ ]:
a

In [ ]:
a.remove(7)

In [ ]:
a

In [ ]:
a.remove(b)

In [ ]:
a

<b>pop() : by default it will remove element present at the end of the list</b>

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a.pop(2)

In [ ]:
a

<h1>Indexing</h1>

In [ ]:
a

In [ ]:
a.index(6)

In [ ]:
a

In [ ]:
a.append(2)

In [ ]:
a

In [ ]:
a.index(2)

In [ ]:
a.remove(2)

In [ ]:
a

<h1>Merging List</h1>

In [ ]:
a

In [ ]:
b

In [ ]:
a.extend(b)

In [ ]:
a

In [ ]:
a+b

Tuple

In [ ]:
emp_id=(101,102,103)

In [ ]:
emp_id

In [ ]:
type(emp_id)

In [ ]:
len(emp_id)

In [ ]:
emp_id.index(102)

In [ ]:
l=[10,20,23,40]
l

In [ ]:
t=tuple(l)

In [ ]:
type(t)

In [ ]:
print(t)

In [ ]:
l2=list(t)

In [ ]:
l2

In [ ]:
l2.append(30)

In [ ]:
l2

In [ ]:
a,b="pooja",40

In [ ]:
print(a,b)

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
t1=(10,30,40)
t2=(14,36,50)
t1+t2

<h1>Sorting</h1>

In [ ]:
l2

In [ ]:
l2.sort()

In [ ]:
l2

In [ ]:
l2.sort(reverse=True)

In [ ]:
l2

In [ ]:
l2.sort(key=None)

In [ ]:
l2

In [ ]:
t

In [ ]:
t.sort()

In [ ]:
t[::-1]

In [ ]:
t[::2]

In [ ]:
t2=(1,1,1,2,2,3,4,5,5,6)

In [ ]:
t2.count(1)

<h1>SETS</h1>
1. Data being stored in sets are always unique. (Duplicated data is not stored) 2. You cannot perform indexing or slicing for sets as data is not stored in an order. 3. Sets are mutable. You can add data to sets, remove data from sets

In [ ]:
ids={101,102,103,104,105}
ids

In [ ]:
name1={"v","i","j","a","a","y","y"}
name1

In [ ]:
name1.add(30)

In [ ]:
name1

In [ ]:
s1={10,20,30,40,50}
s2={30,40,50,60,80}
s1,s2

In [ ]:
# complete data of pre-primary and primary student ids (unique data)

In [ ]:
s1.union(s2)

In [ ]:
s2.union(s1)

In [ ]:
# scenario: which pre-primary students are converted into primary

In [ ]:
s1.intersection(s2)

In [ ]:
# scenario: show me the pre-primary student ids who have not conituned into primary

In [ ]:
s1.difference(s2)

In [ ]:
s2.intersection(s1)

In [ ]:
# scenario: show me the student ids who are not existing students

In [ ]:
s1.symmetric_difference(s2)

In [ ]:
ids

In [ ]:
ids.remove(105)
ids

In [ ]:
ids.pop()
ids

In [ ]:
ids.pop()
ids

In [ ]:
ids.pop()
ids

In [ ]:
set()

In [ ]:
ids.pop()
ids

<h1>Conditional Operators</h1>

In [ ]:
check=eval(input("enter a num"))

if check >0:
    print(f"the given number {check} is positive")
elif check == 0:
    print(f"the given number {check} is not positive or negative")
else:
    print(f"the given number {check} is negative")

<h1>input()</h1>

<b>By default , input() will consider every input from user as String If you want to convert numeric inputs to integers/float use typecasting method Example: age = int(input("Please enter your age"))</b>

In [ ]:
name=input("Enter your name:")

In [ ]:
age=int(input("Enter your age:"))

In [ ]:
temp=float(input("Enter temperature:"))

In [ ]:
percentage=eval(input("Enter your 10th percentages:"))

<h1>Addition of numbers:</h1>
<b>Take 2 inputs from user, write a formula which performs addition.</b>

In [ ]:
n1=eval(input("Enter num1:"))
n2=eval(input("Enter num2:"))
n1+n2

In [ ]:
a=input("Enter your value a:")
b=input("Enter your value b:")
a+b

In [ ]:
#You want to write a compact statement that returns "Adult" if age >= 18, else "Minor"

In [ ]:
age=int(input("Enter your age"))
if age>=18:
    print("Adult")
else:
    print("Minor")

In [ ]:
#You need to display a different message to users based on their role: "Admin" sees “Access granted”, others see “Access denied”.

In [ ]:
role=input("Enter your role:")
if role=="Admin" or role=="admin":
    print("Access Granted")
else:
    print("Access Denied")

In [ ]:
#In an e-commerce system, if the cart total exceeds ₹10,000, the user gets a 10% discount. Otherwise, they pay full price.

In [ ]:
cart_amount=eval(input("Your total bill:"))
if cart_amount >=10000:
    final_amount=cart_amount*0.9
    print(f"Congratulation You got 10% discount on your shopping and your Total amount {final_amount}")
else:
    print(f"Your Total amount is {cart_amount}")

In [ ]:
"""Based on salary input, decide tax rate using nested conditional operators.

Salary < 5L → 5%

Salary between 5L and 10L → 10%

Salary > 10L → 20%"""

In [ ]:
salary=eval(input("Enter your salary amount:"))

if salary <500000:
    tax_rate=salary*0.05
    print(f"{tax_rate} rs tax you have to pay1 ")
elif 500000<=salary<=1000000:
    tax_rate=salary*0.1
    print(f"{tax_rate} rs tax you have to pay2 ")
else:
    tax_rate=salary*0.2
    print(f"{tax_rate} rs tax you have to pay3 ")

In [ ]:
#Using input() to Create a Login Prompt Ask the user for a username and password and validate it.

In [ ]:
username=input("Enter your Username:")
password=input("Enter your Password:")

if username=="poojagolande" and password=="12345678":
    print("Login Successful")
else:
    print("Invalid credentials")

In [ ]:
for i in range(10):
    print("hello")

In [ ]:
l6=[234,23,123,346,6666,7878,999999]
l6

In [ ]:
length=[]
for i in l6:
    c=len(str(i))
    length.append(c)
print(length)

In [ ]:
n=int(input("Enter a num:"))
i=1
a=1
while i<=n:
    a=a*i
    i=i+1
print("Fact:", a)

<h1>For Loop</h1>

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(1,10,2):
    print(i)

In [ ]:
for i in range(-1,10,2):
    print(i)

In [ ]:
for i in range(12,1,-1):
    print(i)

In [ ]:
for i in range(-1,10,2):
    print("pooja",i)

In [ ]:
l1=[10,40,30,56]
for i in l1:
    print(i)

In [ ]:
l2=[]
for i in l1:
    a=i**2
    print(f"Square of num {i} : {a}")
    l2.append(a)
print(l2)

In [ ]:
v=list(map(int,(input("enter any number") .split())))

even_e=[]
odd_o=[]
for i in v:
    if i%2==0:
        even_e.append(i)
    else:
        odd_o.append(i)

print("even num",even_e)
print("odd num",odd_o)

<h1>For loop with multiple variables</h1>

In [ ]:
a=[[1,"riya"],[2,"siya"],[3,"diya"]]
for i,j in a:
    print(f"output:{i},{j}")
for i in a:
    print("Output",i)

<h1>while loop</h1>

In [ ]:
i=0
while i<=10:
    print(i)
    i=i+1

In [ ]:
i=0
while i<=10:
    a=i%2==0
    print(i)
    i=i+1
#-------------------    
i=0
while i<=10:
    a=i%2==0
    print(a)
    i=i+1

In [ ]:
l1

In [ ]:
l=[10,20,30,40,50]
i=0
while i<= len(l):
    print(l[i])
    i=i+1

<h1>Enumerate Function</h1>

In [ ]:
l1=[10,30,40,49]

for i,j in enumerate(l1):
    print(f"Index: {i} Value: {j}")

In [ ]:
l1=[10,30,40,49]

for i,j in enumerate(l1,1000):
    print(f"Index: {i} Value: {j}")

In [ ]:
list(enumerate(l1))

In [ ]:
tuple(enumerate(l1))

<H1>Zip function</H1>

In [ ]:
a=["a","b","c","d","e"]
b=[2,5,7,8,9,0,3]
print(list(zip(a,b)))
print(tuple(zip(a,b)))

In [ ]:
l=[]
for i in zip(a,b):
    print(i)

In [ ]:
a

In [ ]:
b

In [ ]:
a=["q","f"]
i=0
while i<len(a) and i<len(b):
    print(f"a: {a[i]} b:{b[i]}")
    i=i+1

<h1>List comprehension</h1>

In [ ]:
l=[1,2,3,4]
for i in l:
    print(i)

In [ ]:
a=[i for i in l]
print(a)

In [ ]:
a=[i**2 for i in l]
print(a)

In [ ]:
a=[i**3 for i in l]
print(a)

In [ ]:
a=[i/2 for i in l]
print(a)

In [ ]:
for i in l:
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

In [ ]:
a=[(i,"even" if i%2==0 else "odd") for i in l]
print(a)

In [ ]:
for i in range(1,20):
    a=i%2==0
    print("Even:",i)

In [ ]:
a=[(i,i%2==0) for i in range(1,20)]
print(a)

In [ ]:
a=[i for i in range(1,10) if i%2 !=0]
print(a)

In [ ]:
x=[5,2,1,3]
c=2
m=10
#y=mx+c
l1=[]
for i in range(len(x)):
    y=(m*x[i]) + c
    l1.append(y)
print(l1)

In [ ]:
a=[(m*x[i]) + c for i in range(len(x))]
print(a)

In [ ]:
salary=(25000,26000,55000,35000)

# <h1>Dictionaries</h1>

In [10]:
stud={
    "stud_name":"Pooja",
    "stud_id":123,
    "stud_marks":89

}

print(stud)

{'stud_name': 'Pooja', 'stud_id': 123, 'stud_marks': 89}

In [11]:
type(stud)

dict

In [12]:
stud.keys()

dict_keys(['stud_name', 'stud_id', 'stud_marks'])

In [13]:
stud.values()

dict_values(['Pooja', 123, 89])

In [14]:
stud.items()

dict_items([('stud_name', 'Pooja'), ('stud_id', 123), ('stud_marks', 89)])

In [15]:
stud["stud_marks"]=[80,45,28,20]
stud

{'stud_name': 'Pooja', 'stud_id': 123, 'stud_marks': [80, 45, 28, 20]}

In [16]:
stud.values()

dict_values(['Pooja', 123, [80, 45, 28, 20]])

In [17]:
for i in stud.keys():
    print(i)

stud_name
stud_id
stud_marks

In [18]:
for i in stud.values():
    print(i)

Pooja
123
[80, 45, 28, 20]

In [19]:
for i in stud.items():
    print(i)

('stud_name', 'Pooja')
('stud_id', 123)
('stud_marks', [80, 45, 28, 20])

In [20]:
print(stud["stud_name"])

Pooja

In [21]:
stud["Gender"]="Female"
stud

{'stud_name': 'Pooja',
 'stud_id': 123,
 'stud_marks': [80, 45, 28, 20],
 'Gender': 'Female'}

In [22]:
del stud["Gender"]

In [23]:
stud

{'stud_name': 'Pooja', 'stud_id': 123, 'stud_marks': [80, 45, 28, 20]}

In [24]:
stud1={"gender":"Male",
       "Standard":"7th",
       "Division":"A",
       "TG":"Mrs Guru"}

In [25]:
stud1

{'gender': 'Male', 'Standard': '7th', 'Division': 'A', 'TG': 'Mrs Guru'}

In [26]:
stud.update(stud1)

In [27]:
stud|stud1

{'stud_name': 'Pooja',
 'stud_id': 123,
 'stud_marks': [80, 45, 28, 20],
 'gender': 'Male',
 'Standard': '7th',
 'Division': 'A',
 'TG': 'Mrs Guru'}

In [28]:
list(zip(stud,stud1))

[('stud_name', 'gender'),
 ('stud_id', 'Standard'),
 ('stud_marks', 'Division'),
 ('gender', 'TG')]

In [ ]:
stud

In [ ]:
stud.pop("TG")

In [ ]:
stud

<h1>Built in functions</h1>

In [3]:
salary=(1000,20000,30000,40000)
print(salary)
type(salary)

(1000, 20000, 30000, 40000)

tuple

In [4]:
max(salary)

40000

In [5]:
min(salary)

1000

In [6]:
total=sum(salary)

In [7]:
length=len(salary)

In [8]:
avg=total/length
print(avg)

22750.0

<h1>DEF FUNCTION</h1>

In [ ]:
QUE use def function and code for intrest

princile
rate
time
intrest
total_amount

p*t*r/100

In [10]:
def rate_intrest(p,r,t):
    i=p*t*r/100
    total_amount=p+i
    return p,r,t,i,total_amount

In [11]:

rate_intrest(1000,20,3)

(1000, 20, 3, 600.0, 1600.0)

In [ ]:
#Write a function which returns grades for respective student marks

Input :
"St_name" : marks
"raman" : 85
"thaman" : 78


Criteria for grades
90 and above - A
80 and 90 - B
70 and 80 - C
60 and 70 - D
50 and 60 - E
Below 50 - F

Output :
"St_Name" : Grade
"raman" : "B"
"thaman" : "C"

In [34]:
student_marks = {
    "Raman" : 85,
    "Thaman" : 78,
    "Suman" : 65,
    "Baman" : 92,
    "Naman" : 55,
    "Varman" : 35
}

In [35]:
def get_data(marks):
    if marks>=90 and marks<=100:
        return "A"
    if marks>=80 and marks<90:
        return "B" 
    if marks>=70 and marks<80:
        return "C" 
    if marks>=60 and marks<70:
        return "D" 
    if marks>=50 and marks<60:
        return "E" 
    if marks<=50 and marks>0:
        return "F" 
    else:
        return "Invalid Data"

In [38]:
def stud_grade(stud_marks:dict):
    st_grade={}
    for i,j in stud_marks.items():
        st_grade[i]=get_data(j)
    return st_grade

In [39]:
stud_grade(student_marks)

{'Raman': 'B',
 'Thaman': 'C',
 'Suman': 'D',
 'Baman': 'A',
 'Naman': 'E',
 'Varman': 'F'}

In [15]:
get_data(77)

'C'

In [19]:
get_data(80)

'B'

set1={}
set1["raman"]=get_data(80)
set1["thaman"]=get_data(70)

In [22]:
set1.items()

dict_items([('raman', 'B'), ('thaman', 'C')])

In [23]:
set1["anjan"]=get_data(40)

In [24]:
set1.items()

dict_items([('raman', 'B'), ('thaman', 'C'), ('anjan', 'F')])

In [45]:
l3=["bob","mom","tom","dad","abhi","raj","madam"]

list(filter(lambda x:x==x[::-1],l3))

['bob', 'mom', 'dad', 'madam']

In [46]:
list(filter(lambda x:x!=x[::-1],l3))

['tom', 'abhi', 'raj']

<h1>Generator Function</h1>

<b>If you want to generate a series of data , make use of generator function we use yield</b>

In [47]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [52]:
def sq_num(n):
    for i in range(n):
        yield i**2

list(sq_num(8))

[0, 1, 4, 9, 16, 25, 36, 49]

<h1>Global and Local variables</h1>

In [56]:
def add(a,b):
    z=a+b
    yield z

list(add(2,3))

[5]

In [57]:
def add(a,b):
    z=a+b
    return z
add(2,3)

5

In [65]:
def add(a,b):
    z=a+b
    print(z)
add(2,3)

5

In [90]:
def cube(n):
    a=[]
    for i in range(n):
        a.append(i**3)
        yield a

list(cube(4)) #yields output should be in a stored format like list and tuple

[[0, 1, 8, 27], [0, 1, 8, 27], [0, 1, 8, 27], [0, 1, 8, 27]]

In [99]:
def cube(n):
    a=[]
    for i in range(3,n):
        a.append(i**3)
        return a

cube(4)

[27]

In [98]:
def cube(n):
    a=[]
    for i in range(n):
        a.append(i**3)
        print(a)
cube(4)

[0]
[0, 1]
[0, 1, 8]
[0, 1, 8, 27]

In [104]:
a=1
b=2

def div(a,b):
    div=a/b
    yield div

list(div(a,b))

[0.5]

<h1>Fibonacci</h1>

In [108]:
def fibonacci(n):
    a,b=0,1
    for i in range(n+1):
        yield a
        a,b=b,a+b

tuple(fibonacci(4))

(0, 1, 1, 2, 3)

In [114]:
def fibonacci(n):
    a,b=0,1
    for i in range(n+1):
        yield a
        a=b
        b=a+b
        

tuple(fibonacci(4))

(0, 1, 2, 4, 8)

<h1>Lambda Function</h1>

In [115]:
a=lambda x:x**2
a(2)

4

In [118]:
a(6)

36

In [120]:
a=lambda x:[i**2 for i in x]
a([1,4,5,6])

[1, 16, 25, 36]

In [129]:
a=lambda x,y:(x+y)
a(8,2.5)

10.5

<h1>Map Function</h1>

In [130]:
a=lambda x:[i**2 for i in x]
a([1,4,5,6]) # instead of this we can write map function

[1, 16, 25, 36]

In [131]:
a=map(lambda x:x**2,[2,4,5,6])
list(a)

[4, 16, 25, 36]

In [132]:
z=[1,2,3,4,5,6,7,7,8,9,10,11]
a=map(lambda x:x**2,z)
list(a)

[1, 4, 9, 16, 25, 36, 49, 49, 64, 81, 100, 121]

<h1>Filter</h1>

In [133]:
data=[1,2,3,4,5,6,7,7,8,9,10,11]

In [134]:
a=filter(lambda x:x%2==0,data)
list(a)

[2, 4, 6, 8, 10]

In [135]:
a=filter(lambda x:x%2!=0,data)
list(a)

[1, 3, 5, 7, 7, 9, 11]

In [145]:
l3=["bob","mom","tom","dad","abhi","raj","madam"]

In [147]:
print(list(filter(lambda x:x==x[::-1],l3)))

['bob', 'mom', 'dad', 'madam']

In [148]:
a=filter(lambda x:x!=x[::-1],l3)
list(a)

['tom', 'abhi', 'raj']

<h1>String Operation</h1>

In [149]:
a="Hello Pooja"

In [150]:
a[0]    #access the value

'H'

In [153]:
a[0:8]

'Hello Po'

In [154]:
a[::-1]

'ajooP olleH'

In [155]:
a[-1]

'a'

In [167]:
a[-1:]

'a'

In [159]:
a[-3:2]

''

In [168]:
type(a)

str

In [169]:
a.capitalize()

'Hello pooja'

In [170]:
a.title()

'Hello Pooja'

In [171]:
a.upper()

'HELLO POOJA'

In [172]:
a.lower()

'hello pooja'

In [173]:
a.isupper()

False

In [174]:
a.islower()

False

In [179]:
a.count("o")

3

In [180]:
a.casefold()

'hello pooja'

In [181]:
a.casefold()

'hello pooja'

In [183]:
a.find("o")

4

In [188]:
a.split("l")

['He', '', 'o Pooja']

In [189]:
a.split(" ")

['Hello', 'Pooja']

In [190]:
a.format()

'Hello Pooja'

<h1>Sort</h1>

In [191]:
l3

['bob', 'mom', 'tom', 'dad', 'abhi', 'raj', 'madam']

In [193]:
l3.sort()
l3

['abhi', 'bob', 'dad', 'madam', 'mom', 'raj', 'tom']

In [195]:
l3.sort(reverse=True)
l3

['tom', 'raj', 'mom', 'madam', 'dad', 'bob', 'abhi']

In [196]:
l3.sort(reverse=False)
l3

['abhi', 'bob', 'dad', 'madam', 'mom', 'raj', 'tom']

In [199]:
t=(1,3,4,5,5)

In [200]:
t.sort() #we cant sort data inside tuple

AttributeError: 'tuple' object has no attribute 'sort'

In [201]:
sales = {'Jan': 100, 'Feb': 150, 'Mar': 200}

In [218]:
a=map(lambda (v,k):(v,k*1.1),sales.items())
list(a)

SyntaxError: Lambda expression parameters cannot be parenthesized (3919904899.py, line 1)

In [221]:
a=lambda x,y:x+y
a(7,5)

12

In [244]:
l=[1,2,3,34,5]
a=lambda x:x**2
print(a(2))
b=lambda x:[i**2 for i in x]
print(b(l))
c=lambda x:[i%2==0 for i in x]
c(l)
d=map(lambda x:x%2==0,l)
list(d)
e=filter(lambda x:x%2!=0,l)
list(e)

4
[1, 4, 9, 1156, 25]

[1, 3, 5]

In [250]:
d = {'a': 3, 'b': 1, 'c': 2} #sort dict value
a=sorted(d.items(),key=lambda items:items[1])
dict(a)

{'b': 1, 'c': 2, 'a': 3}

In [260]:
d = {'a': 3, 'b': 1, 'c': 2,'d':4} #sort dict value
a=sorted(d.items(),key=lambda a:a[1]) #1--value
dict(a)

{'b': 1, 'c': 2, 'a': 3, 'd': 4}

In [259]:
d = {'a': 3, 'b': 1, 'c': 2,'d':4} #sort dict value
a=sorted(d.items(),key=lambda a:a[0]) #0---keys
dict(a)

{'a': 3, 'b': 1, 'c': 2, 'd': 4}

In [252]:
d = {'a': 3, 'b': 1, 'c': 2} #sort dict value
a=sorted(d.items(),key=lambda a:a[1],reverse=True)
dict(a)

{'a': 3, 'c': 2, 'b': 1}

In [257]:
d = {'a': 3, 'b': 1, 'c': 2} #sort dict value
a=sorted(d.items(),key=lambda a:a[0],reverse=True)
dict(a)

{'c': 2, 'b': 1, 'a': 3}

In [265]:
d = {'a': 3, 'b': 1, 'c': 2} #sort dict value
a=sorted(d.items(),key=lambda a:a[1],reverse=True)
dict(a)

{'a': 3, 'c': 2, 'b': 1}

In [ ]:
#    0----keys
#    1----values

In [261]:
d

{'a': 3, 'b': 1, 'c': 2, 'd': 4}

In [263]:
b=sorted(d.values())
b

[1, 2, 3, 4]

In [264]:
b=sorted(d.keys())
b

['a', 'b', 'c', 'd']

In [ ]:
codes = ['IN', 'US', 'FR']
country_map = {'IN': 'India', 'US': 'USA', 'FR': 'France'}

In [267]:
data = [('Alice', 23), ('Bob', 19), ('Charlie', 30)]
a=sorted(data,key=lambda a:a[1])
a

[('Bob', 19), ('Alice', 23), ('Charlie', 30)]

In [ ]:
#Sort a list of tuples by the second value

<h1>DataFrames</h1>

In [33]:
import pandas as pd

In [34]:
emp_data = {
    "ids":[101,102,103,104,105],
    "name":["Suman","Raman","Thaman","Baman","Naman"],
    "salary":[25000,35000,55000,12000,34000],
    "dept":["IT","Sales","Marketting","BPO","IT"]
}

In [35]:
type(emp_data)

dict

In [36]:
emp_data.items()

dict_items([('ids', [101, 102, 103, 104, 105]), ('name', ['Suman', 'Raman', 'Thaman', 'Baman', 'Naman']), ('salary', [25000, 35000, 55000, 12000, 34000]), ('dept', ['IT', 'Sales', 'Marketting', 'BPO', 'IT'])])

In [37]:
df=pd.DataFrame(emp_data)
df

   ids    name  salary        dept
0  101   Suman   25000          IT
1  102   Raman   35000       Sales
2  103  Thaman   55000  Marketting
3  104   Baman   12000         BPO
4  105   Naman   34000          IT

In [38]:
df.shape

(5, 4)

In [39]:
df=pd.DataFrame(emp_data).T
df

            0      1           2      3      4
ids       101    102         103    104    105
name    Suman  Raman      Thaman  Baman  Naman
salary  25000  35000       55000  12000  34000
dept       IT  Sales  Marketting    BPO     IT

In [40]:
df

            0      1           2      3      4
ids       101    102         103    104    105
name    Suman  Raman      Thaman  Baman  Naman
salary  25000  35000       55000  12000  34000
dept       IT  Sales  Marketting    BPO     IT

In [41]:
df.shape

(4, 5)

In [42]:
stu={"stu_id":[1,2,3,4,5],
    "stu_name":["vijay","raj","raju","aanand","abhi"],
    "dept_name":["DS","CS","IT","Mech","ENTC"]}

In [43]:
df=pd.DataFrame(stu)
df

   stu_id stu_name dept_name
0       1    vijay        DS
1       2      raj        CS
2       3     raju        IT
3       4   aanand      Mech
4       5     abhi      ENTC

In [44]:
df.shape

(5, 3)

In [45]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [46]:
df=pd.DataFrame(stu).T
df

               0    1     2       3     4
stu_id         1    2     3       4     5
stu_name   vijay  raj  raju  aanand  abhi
dept_name     DS   CS    IT    Mech  ENTC

In [47]:
df.shape

(3, 5)

In [48]:
df.index

Index(['stu_id', 'stu_name', 'dept_name'], dtype='object')

In [49]:
df.shape[0] #acts like col index no.

3

In [50]:
df.shape[1] #acts as a rows index no

5

In [51]:
df.shape[4]

IndexError: tuple index out of range

In [53]:
df.info

<bound method DataFrame.info of                0    1     2       3     4
stu_id         1    2     3       4     5
stu_name   vijay  raj  raju  aanand  abhi
dept_name     DS   CS    IT    Mech  ENTC>

In [55]:
df=pd.DataFrame(emp_data)
df

   ids    name  salary        dept
0  101   Suman   25000          IT
1  102   Raman   35000       Sales
2  103  Thaman   55000  Marketting
3  104   Baman   12000         BPO
4  105   Naman   34000          IT

In [56]:
df.info

<bound method DataFrame.info of    ids    name  salary        dept
0  101   Suman   25000          IT
1  102   Raman   35000       Sales
2  103  Thaman   55000  Marketting
3  104   Baman   12000         BPO
4  105   Naman   34000          IT>

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ids     5 non-null      int64
 1   name    5 non-null      object
 2   salary  5 non-null      int64
 3   dept    5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [60]:
df.columns

Index(['ids', 'name', 'salary', 'dept'], dtype='object')

In [61]:
df.columns=['ids1', 'name1', 'salary1', 'dept1']
df

   ids1   name1  salary1       dept1
0   101   Suman    25000          IT
1   102   Raman    35000       Sales
2   103  Thaman    55000  Marketting
3   104   Baman    12000         BPO
4   105   Naman    34000          IT

In [65]:
df.index=[101,102,103,104,105]
df

     ids1   name1  salary1       dept1
101   101   Suman    25000          IT
102   102   Raman    35000       Sales
103   103  Thaman    55000  Marketting
104   104   Baman    12000         BPO
105   105   Naman    34000          IT

In [67]:
df.columns=[]

ValueError: Length mismatch: Expected axis has 4 elements, new values have 0 elements

<b>Dataframe from list</b>

In [71]:
ids= [101, 102, 103, 104, 105]
name= ['Suman', 'Raman', 'Thaman', 'Baman', 'Naman']
salary= [25000, 35000, 55000, 12000, 34000]
dept= ['IT', 'Sales', 'Marketting', 'BPO', 'IT']

In [73]:
df=pd.DataFrame([ids,name,salary,dept])
df

       0      1           2      3      4
0    101    102         103    104    105
1  Suman  Raman      Thaman  Baman  Naman
2  25000  35000       55000  12000  34000
3     IT  Sales  Marketting    BPO     IT

In [74]:
df=pd.DataFrame([ids,name,salary,dept]).T
df

     0       1      2           3
0  101   Suman  25000          IT
1  102   Raman  35000       Sales
2  103  Thaman  55000  Marketting
3  104   Baman  12000         BPO
4  105   Naman  34000          IT

In [75]:
df=pd.DataFrame([ids,name,salary,dept]).T.T
df

       0      1           2      3      4
0    101    102         103    104    105
1  Suman  Raman      Thaman  Baman  Naman
2  25000  35000       55000  12000  34000
3     IT  Sales  Marketting    BPO     IT

In [78]:
df=pd.DataFrame([ids,name,salary,dept]).T
df

     0       1      2           3
0  101   Suman  25000          IT
1  102   Raman  35000       Sales
2  103  Thaman  55000  Marketting
3  104   Baman  12000         BPO
4  105   Naman  34000          IT

In [79]:
df.columns=["ids","name","salary","dept"]
df

   ids    name salary        dept
0  101   Suman  25000          IT
1  102   Raman  35000       Sales
2  103  Thaman  55000  Marketting
3  104   Baman  12000         BPO
4  105   Naman  34000          IT

In [82]:
stu_1=[1,2,3]
stu_name=["vj","az","abhi"]
marks=[45,46]

In [83]:
df=pd.DataFrame([stu_1,stu_name,marks])
df

    0   1     2
0   1   2     3
1  vj  az  abhi
2  45  46  None

In [84]:
id1 = [101,"suman",35000,"IT"]
id2 = [102,"raman",56000,"Sales"]
id3 = [103,"suman",80000,"marketting"]
id4 = [104,"baman",90000,"bpo"]

In [87]:
a=pd.DataFrame([id1,id2,id3,id4],columns=["ids","names","salary","dept"])
a

   ids  names  salary        dept
0  101  suman   35000          IT
1  102  raman   56000       Sales
2  103  suman   80000  marketting
3  104  baman   90000         bpo

<b>Read csv files</b>

In [89]:
rd=pd.read_csv(r"C:\Users\HP\Desktop\Data Science\Basic Python\50_Startups.csv")
rd

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [90]:
rd.shape

(50, 5)

In [91]:
rd.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
RND,165349.2,162597.7,153441.51,144372.41,142107.34,131876.9,134615.46,130298.13,120542.52,123334.88,...,28754.33,27892.92,23640.93,15505.73,22177.74,1000.23,1315.46,0.0,542.05,0.0
ADMIN,136897.8,151377.59,101145.55,118671.85,91391.77,99814.71,147198.87,145530.06,148718.95,108679.17,...,118546.05,84710.77,96189.63,127382.3,154806.14,124153.04,115816.21,135426.92,51743.15,116983.8
MKT,471784.1,443898.53,407934.54,383199.62,366168.42,362861.36,127716.82,323876.68,311613.29,304981.62,...,172795.67,164470.71,148001.11,35534.17,28334.72,1903.93,297114.46,0.0,0.0,45173.06
STATE,New York,California,Florida,New York,Florida,New York,California,Florida,New York,California,...,California,Florida,California,New York,California,New York,Florida,California,New York,California
PROFIT,192261.83,191792.06,191050.39,182901.99,166187.94,156991.12,156122.51,155752.6,152211.77,149759.96,...,78239.91,77798.83,71498.49,69758.98,65200.33,64926.08,49490.75,42559.73,35673.41,14681.4

In [94]:
rd.T.T

          RND      ADMIN        MKT       STATE     PROFIT
0    165349.2   136897.8   471784.1    New York  192261.83
1    162597.7  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5    131876.9   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida   155752.6
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California   144259.4
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida   124266.9
19    86419.7  153514.11        0.0    New York  122776.86
20   76253.86   113867.3  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27    72107.6  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56   118148.2     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California    96712.8
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93   185265.1    New York   81229.06
39   38558.51   82982.09   174999.3  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73   127382.3   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47        0.0  135426.92        0.0  California   42559.73
48     542.05   51743.15        0.0    New York   35673.41
49        0.0   116983.8   45173.06  California    14681.4

In [95]:
rd.index

RangeIndex(start=0, stop=50, step=1)

In [96]:
rd.info

<bound method DataFrame.info of           RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40>

In [97]:
rd.columns

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

<h1>Load The Dataset</h1>

In [55]:
from warnings import filterwarnings
filterwarnings ("ignore")

In [56]:
import pandas as pd

In [57]:
rd=pd.read_csv(r"C:\Users\HP\Desktop\Data Science\Basic Python\50_Startups.csv")
rd

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [58]:
rd.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [59]:
rd.tail()

        RND      ADMIN        MKT       STATE    PROFIT
45  1000.23  124153.04    1903.93    New York  64926.08
46  1315.46  115816.21  297114.46     Florida  49490.75
47     0.00  135426.92       0.00  California  42559.73
48   542.05   51743.15       0.00    New York  35673.41
49     0.00  116983.80   45173.06  California  14681.40

In [60]:
rd.head(10)

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94
5  131876.90   99814.71  362861.36    New York  156991.12
6  134615.46  147198.87  127716.82  California  156122.51
7  130298.13  145530.06  323876.68     Florida  155752.60
8  120542.52  148718.95  311613.29    New York  152211.77
9  123334.88  108679.17  304981.62  California  149759.96

In [61]:
rd.tail(10)

         RND      ADMIN        MKT       STATE    PROFIT
40  28754.33  118546.05  172795.67  California  78239.91
41  27892.92   84710.77  164470.71     Florida  77798.83
42  23640.93   96189.63  148001.11  California  71498.49
43  15505.73  127382.30   35534.17    New York  69758.98
44  22177.74  154806.14   28334.72  California  65200.33
45   1000.23  124153.04    1903.93    New York  64926.08
46   1315.46  115816.21  297114.46     Florida  49490.75
47      0.00  135426.92       0.00  California  42559.73
48    542.05   51743.15       0.00    New York  35673.41
49      0.00  116983.80   45173.06  California  14681.40

In [62]:
rd.head(-10)

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76

In [63]:
rd.tail(-10)

          RND      ADMIN        MKT       STATE     PROFIT
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [64]:
display(rd)

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [65]:
type(rd)

pandas.core.frame.DataFrame

In [66]:
type(rd.columns)

pandas.core.indexes.base.Index

In [67]:
type(rd.index)

pandas.core.indexes.range.RangeIndex

In [68]:
rd

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [69]:
rd

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [70]:
rd.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [71]:
rd["RND"]

0     165349.20
1     162597.70
2     153441.51
3     144372.41
4     142107.34
5     131876.90
6     134615.46
7     130298.13
8     120542.52
9     123334.88
10    101913.08
11    100671.96
12     93863.75
13     91992.39
14    119943.24
15    114523.61
16     78013.11
17     94657.16
18     91749.16
19     86419.70
20     76253.86
21     78389.47
22     73994.56
23     67532.53
24     77044.01
25     64664.71
26     75328.87
27     72107.60
28     66051.52
29     65605.48
30     61994.48
31     61136.38
32     63408.86
33     55493.95
34     46426.07
35     46014.02
36     28663.76
37     44069.95
38     20229.59
39     38558.51
40     28754.33
41     27892.92
42     23640.93
43     15505.73
44     22177.74
45      1000.23
46      1315.46
47         0.00
48       542.05
49         0.00
Name: RND, dtype: float64

In [72]:
rd.RND

0     165349.20
1     162597.70
2     153441.51
3     144372.41
4     142107.34
5     131876.90
6     134615.46
7     130298.13
8     120542.52
9     123334.88
10    101913.08
11    100671.96
12     93863.75
13     91992.39
14    119943.24
15    114523.61
16     78013.11
17     94657.16
18     91749.16
19     86419.70
20     76253.86
21     78389.47
22     73994.56
23     67532.53
24     77044.01
25     64664.71
26     75328.87
27     72107.60
28     66051.52
29     65605.48
30     61994.48
31     61136.38
32     63408.86
33     55493.95
34     46426.07
35     46014.02
36     28663.76
37     44069.95
38     20229.59
39     38558.51
40     28754.33
41     27892.92
42     23640.93
43     15505.73
44     22177.74
45      1000.23
46      1315.46
47         0.00
48       542.05
49         0.00
Name: RND, dtype: float64

In [73]:
rd

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [74]:
rd["RND"].head()

0    165349.20
1    162597.70
2    153441.51
3    144372.41
4    142107.34
Name: RND, dtype: float64

In [75]:
rd["RND"].head(2)

0    165349.2
1    162597.7
Name: RND, dtype: float64

In [76]:
rd["RND"].tail()

45    1000.23
46    1315.46
47       0.00
48     542.05
49       0.00
Name: RND, dtype: float64

In [77]:
rd[["RND","ADMIN"]].head()

         RND      ADMIN
0  165349.20  136897.80
1  162597.70  151377.59
2  153441.51  101145.55
3  144372.41  118671.85
4  142107.34   91391.77

In [78]:
rd[["RND","ADMIN"]].tail()

        RND      ADMIN
45  1000.23  124153.04
46  1315.46  115816.21
47     0.00  135426.92
48   542.05   51743.15
49     0.00  116983.80

In [79]:
rd[0:12]

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40

In [80]:
rd[0:5:3]

         RND      ADMIN        MKT     STATE     PROFIT
0  165349.20  136897.80  471784.10  New York  192261.83
3  144372.41  118671.85  383199.62  New York  182901.99

In [81]:
rd[8:2]

Empty DataFrame
Columns: [RND, ADMIN, MKT, STATE, PROFIT]
Index: []

In [82]:
rd[8:12:-1]

Empty DataFrame
Columns: [RND, ADMIN, MKT, STATE, PROFIT]
Index: []

In [83]:
rd[8:2:-2]

         RND      ADMIN        MKT       STATE     PROFIT
8  120542.52  148718.95  311613.29    New York  152211.77
6  134615.46  147198.87  127716.82  California  156122.51
4  142107.34   91391.77  366168.42     Florida  166187.94

In [84]:
rd[0:4][["ADMIN","RND"]]

       ADMIN        RND
0  136897.80  165349.20
1  151377.59  162597.70
2  101145.55  153441.51
3  118671.85  144372.41

In [85]:
rd.iloc[1:5,:3]

         RND      ADMIN        MKT
1  162597.70  151377.59  443898.53
2  153441.51  101145.55  407934.54
3  144372.41  118671.85  383199.62
4  142107.34   91391.77  366168.42

In [86]:
rd.iloc[8:3:-3,4:1:-2]

      PROFIT        MKT
8  152211.77  311613.29
5  156991.12  362861.36

In [87]:
list[rd.iloc[8:3:-3,4:1:-2]]

list[      PROFIT        MKT
8  152211.77  311613.29
5  156991.12  362861.36]

In [88]:
tuple[rd.iloc[8:3:-3,4:1:-2]]

tuple[      PROFIT        MKT
8  152211.77  311613.29
5  156991.12  362861.36]

In [89]:
emp_data = {
    "ids":[101,102,103,104,105],
    "name":["Suman","Raman","Thaman","Baman","Naman"],
    "salary":[25000,35000,55000,12000,34000],
    "dept":["IT","Sales","Marketting","BPO","IT"]
}

In [90]:
df=pd.DataFrame(emp_data)
df

   ids    name  salary        dept
0  101   Suman   25000          IT
1  102   Raman   35000       Sales
2  103  Thaman   55000  Marketting
3  104   Baman   12000         BPO
4  105   Naman   34000          IT

In [91]:
df.loc[2],[["ids","names","salary"]]

(ids              103
 name          Thaman
 salary         55000
 dept      Marketting
 Name: 2, dtype: object,
 [['ids', 'names', 'salary']])

In [92]:
df

   ids    name  salary        dept
0  101   Suman   25000          IT
1  102   Raman   35000       Sales
2  103  Thaman   55000  Marketting
3  104   Baman   12000         BPO
4  105   Naman   34000          IT

In [93]:
df.loc[[2,3],["ids","name"]]

   ids    name
2  103  Thaman
3  104   Baman

In [95]:
rd

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [99]:
rd[["RND","ADMIN"]].tail().min()

RND          0.00
ADMIN    51743.15
dtype: float64

In [100]:
rd[["RND","ADMIN"]].tail().max()

RND        1315.46
ADMIN    135426.92
dtype: float64

In [101]:
rd[["RND","ADMIN"]].head().min()

RND      142107.34
ADMIN     91391.77
dtype: float64

In [107]:
a=rd["PROFIT"].head() > 100000

In [113]:
v=(rd["PROFIT"].head()>100000) & (rd["PROFIT"].head()<175000)
==rd[v\

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [1]:
import pands as pd

ModuleNotFoundError: No module named 'pands'

In [1]:
def add(a,b):
    c=a+b
    return c

add(3,5)

8

In [3]:
l1=[1,4,6,9,3]

def square(data):
    sq=[]
    for i in data:
        sq.append(i**2)
    return sq  

square(l1)

[1, 16, 36, 81, 9]

In [4]:
"A"*4

'AAAA'